.bio-container {
  height: 100%;
  display: grid;
  grid-template-rows: calc(100% * 8 / 9 - 0.5px) 1fr;
  grid-gap: 1px;
  background-color: #000;
}

.contact-bio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1px;
}

.contact {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 1px;
  margin: 0;
  padding: 0;
}

.bio {
  display: grid;
  grid-template-rows: calc(100% / 8) calc(100% / 8 * 3 - 0.5px) calc(
      100% / 8 * 4 - 0.5px
    );
  background-color: #fff;
  min-height: 0;
}

.bio-title,
.bio-text {
  padding-left: 21px;
}

.contact li {
  max-height: 100%;
  font-size: 0.6rem;
  list-style: none;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.contact li a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  padding-left: 21px;
}

.contact-title,
.contact-tel {
  padding-left: 21px;
}

.contact .contact-title {
  font-size: 1rem;
  background-color: #fff;
  align-self: center;
  height: 100%;
}

.bio-title {
  background-color: #fff;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bio-language {
  margin-right: 21px;
  font-size: 0.4rem;
  cursor: pointer;
}

.bio-text {
  font-family: 'Cormorant Garamond', serif;
  font-size: 0.48rem;
  white-space: pre-wrap;
  background-color: #fff;
  overflow: scroll;
  min-height: 0;
  text-align: justify;
  padding-right: 21px;
  -ms-overflow-style: none;
}

.bio-text::-webkit-scrollbar {
  display: none;
}

.bio-photo {
  width: 100%;
  height: 100%;
  border-top: 1px solid #000;
  background-color: #fff;
  background-image: url('https://benetamas.com/public/settings/February2019/kRhnaWfhz9UtsKbtugBk.jpg');
  background-size: cover;
  background-position: center;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
