#root {
  height: 100%;
  width: 100%;
}

.start-page-mobile {
  min-height: 100%;
  min-width: 100%;
  display: grid;
  grid-template-rows: repeat(13, 1fr);
  grid-gap: 1px;
  list-style: none;
  background-color: #000;
  margin: 0;
  padding: 0;
  font-size: 0.85rem;
}

.start-page-mobile li {
  background-color: #fff;
  display: flex;
  align-items: center;
}

.start-page-mobile a {
  text-decoration: none;
  color: #000;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.start-page-mobile a,
.start-page-mobile__title,
.start-page-mobile__address {
  padding-left: 21px;
}

.start-page-mobile__category,
.start-page-mobile__title {
  font-size: 1.3rem;
}
