.project-pager--box {
  border-left: solid 1px #000;
  background-color: #fff;
  display: inline;
  font-size: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-pager--box a {
  display: flex;
  justify-content: center;
}

.project-pager {
  height: 100%;
  display: flex;
  margin-left: auto;
}

.project-pager:nth-child(2) {
  cursor: default;
}
