.project-container {
  height: 100%;
  display: grid;
  grid-template-rows: calc(100% * 8 / 9 - 0.5px) 1fr;
  grid-gap: 1px;
  background-color: #000;
}

.project-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1px;
}

.project-photos {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 0;
  min-width: 0;
  cursor: pointer;
  position: relative;
}

.project-photos img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.project-details {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1px;
  min-width: 0;
  min-height: 0;
}

.project-description {
  display: grid;
  grid-template-rows: calc(100% / 4) calc(100% / 4 * 3);
  background-color: #fff;
  min-height: 0;
}

.project-category-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 1px;
}

.project-category-list a {
  text-decoration: none;
}

.project-category-list li {
  height: 100%;
  font-size: 1rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  color: #000;
}

.project-category-selected,
.project-category-element {
  padding-left: 21px;
  text-transform: uppercase;
}

.project-category-list li a {
  height: 100%;
  width: 100%;
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.project-header {
  font-size: 0.4rem;
  padding-left: 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-subtitle {
  font-size: 0.4rem;
  font-family: 'Cormorant Garamond', serif;
}

.project-title p {
  margin: 0;
}

.photo-counter {
  padding-right: 21px;
  font-size: 1rem;
}

.project-text {
  font-family: 'Cormorant Garamond', serif;
  font-size: 0.48rem;
  min-height: 0;
  overflow: scroll;
  text-align: justify;
  white-space: pre-wrap;
  margin: 0;
  padding: 1em 21px;
  cursor: pointer;
  -ms-overflow-style: none;
}

.project-text::-webkit-scrollbar {
  display: none;
}

.project-language {
  margin-left: auto;
  margin-right: 21px;
  font-size: 0.4rem;
  text-transform: uppercase;
  cursor: pointer;
}

.project-details--expanded {
  display: grid;
  grid-template-rows: 1fr;
  min-width: 0;
  min-height: 0;
}

.project-details--expanded .project-description {
  display: grid;
  grid-template-rows: calc(100% / 8) calc(100% / 8 * 7);
  background-color: #fff;
  min-height: 0;
}

.next-photo,
.prev-photo {
  position: absolute;
  height: 100%;
  width: calc(100% / 2);
  z-index: 1;
}

.prev-photo {
  left: 0;
}

.next-photo {
  right: 0;
}

.aria-prev-photo,
.aria-next-photo {
  position: absolute;
  height: calc(100% / 8);
  width: calc(100% / 8);
}

.aria-prev-photo {
  left: 0;
}

.aria-next-photo {
  right: 0;
}

.project-photos__preloaded {
  visibility: hidden;
  overflow: hidden;
  width: 0;
  height: 0;
}
