.project-pager--box {
  border-left: solid 1px #000;
  display: inline;
  font-size: 0.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-pager {
  height: 100%;
  display: flex;
  margin-left: auto;
}
