.works-container {
  height: 100%;
  display: grid;
  grid-template-rows: calc(100% * 8 / 9 - 0.5px) 1fr;
  grid-gap: 1px;
  background-color: #000;
}

.works-content {
  display: grid;
  grid-template-columns: calc(100% / 2) 1fr;
  grid-gap: 1px;
}

.works-photos {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 1px;
  min-height: 0;
  min-width: 0;
}

.works-photos li {
  min-height: 0;
  min-width: 0;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
  background-color: #fff;
}

.works-photo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  width: 100%;
  cursor: default;
}

.works-photo-link.thumbnail {
  cursor: pointer;
}

.works-photos img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.works-list {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1px;
  min-width: 0;
  min-height: 0;
}

.works-project-list,
.works-category-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
}

.works-title-link {
  display: flex;
  align-items: center;
  height: 100%;
}

.works-project-list {
  background-color: #fff;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-auto-flow: column;
}

.works-category-list {
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 1px;
}

.works-category-list li,
.works-project-list li {
  height: 100%;
  background-color: #fff;
}

.works-category-list li {
  cursor: pointer;
}

.works-category-list li a {
  font-size: 1rem;
  height: 100%;
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.works-category-element {
  padding-left: 21px;
}

.works-project-list li {
  font-size: 0.4rem;
  width: max-content;
  padding-left: 21px;
  display: flex;
  align-items: center;
}

.works-project-list a {
  color: #000;
  text-decoration: none;
}

.hide-project-title a {
  color: #fff;
}

.hide-project-image {
  opacity: 0;
}

.works-category-selected {
  display: flex;
  align-items: center;
  padding-left: 21px;
}

.works-close {
  margin-left: auto;
}
