body {
  margin: 0;
  padding: 0;
  font-family: 'Yantramanav', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  font-size: calc(1vw + 1vh + 0.5vmin * 3.5);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
