.project-mobile {
  width: 100%;
  overflow: scroll;
}

.project-mobile__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc((100vh - 12px) / 13);
  width: calc(100% - 21px);
  border-bottom: 1px solid #000;
  font-size: 1.3rem;
  padding-left: 21px;
  position: fixed;
  top: 0;
  background-color: #fff;
}

.project-mobile__description {
  height: calc((100vh - 12px) / 13 * 3 + 2px);
  border-bottom: 1px solid #000;
}

.project-mobile__description,
.project-mobile__description--expanded {
  margin-top: calc((100vh - 12px) / 13);
  overflow: scroll;
  padding: 0 21px;
}

.project-mobile__description p:nth-child(1),
.project-mobile__description--expanded p:nth-child(1) {
  font-size: 0.85rem;
  display: flex;
  justify-content: space-between;
}

.project-mobile__language {
  cursor: pointer;
}

.project-mobile__description p:nth-child(2),
.project-mobile__description--expanded p:nth-child(2) {
  font-family: 'Cormorant Garamond', serif;
  font-size: 0.8rem;
  padding-bottom: 21px;
}

.project-mobile__photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-mobile__photo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.project-mobile__footer {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  padding-left: 21px;
  text-transform: uppercase;
  height: calc((100vh - 12px) / 13);
  border-top: 1px solid #000;
}
